/*Nav bar*/
/* Add a black background color to the top navigation */
.topnav {
  background-color:#96C5F7;
  overflow: hidden;
}

 

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

 

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

 

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

#heading-section{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
	
	
}
.para {
	font-size: 20;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#btn1{
  background-color:#96C5F7 ; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#btn2 {
  background-color: #96C5F7;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#t1 {
	
	border: 50%;
	Float: left;
	font-size: 20;
	text-align: center;
	margin-left: 20%;
	margin-right: auto;
	Border-radius : 20px;
	
}

#t2{ 
	
	float: right;
	font-size: 20;
	text-align: center;
	margin-left: auto;
	margin-right: 20%;
}


